.header{
  text-align: center;
}
form{
  width: 700px;
  margin: 0 auto;
  border: 1px solid #202020;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 6px;
}
form p, label{
  margin: 5px;
}
#teach-sel{
  width: 250px;
}

#qr-data-container{
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teach-quiz{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#detail-report{
  margin: 8px auto;
  padding: 5px;
  box-sizing: border-box;
}

table, tr, td, th {
	border: 1px solid #101010;
  border-collapse: collapse;
}
.qr-data tr:nth-child(even) {
  background-color: #a0a0a0;
}
th{
  padding: 4px;
  text-align: center;
}

.qr-data #qr-table, #teach-quiz-table, #qr-detail-table{
  cursor: pointer;
  margin: 0 auto;
}
#teach-quiz-table{
  width: 33%;
}

.qr-data #teach-quiz-table td, #teach-quiz-table th{
  padding: 4px;
}

#qr-body .selected {
  background-color: rgb(108, 193, 247);
}

.qr-data{
  background-color: aliceblue;
  height: 250px;
  overflow-y: auto;
}
#qr-list-title, #detail-report h4{
  text-align: center;
  padding: 4px 0;
  color: navy;
  font-size: 1.25em;
}
#detail-report h4{
  font-size: 1.1em;
}
.qr-data th {
	border: 1px solid dimgrey;
  border-collapse: collapse;
  background-color: navy;
  padding: 0 5px;
  color: yellow;
}

.hidden{
  visibility: hidden;
}
.none{
  display: none;
}
.qr-detail p{
  margin: 0;
  text-align: center;
  font-weight: 700;
}

.resizable td{
  padding: 0 4px;
}

.resizable th {
  text-align: center;
}

.qtext, .user-resp{
  font-size: 12px;
}
.qtext{
  width: 600px;
}
.user-resp{
  width: 200px;
  height: 15px;
  overflow: hidden;
}
.resizable .award-p{
  text-align: center;
  width: 60px;
  font-weight: 700;
}
.bad{
  background-color: rgb(221, 94, 94);
}
.good{
  background-color: rgb(66, 182, 66);
}
.report-section{
  padding: 8px 0;
  background-color: navy;
  text-align: center;
}
.report-section p{
  color: yellow;
  font-weight: 700;
}
.report-section button{
  margin: 0 8px;
}
.filter{
  display: block;
  margin: 4px auto;
  padding: 4px;
  background-color: lightsteelblue;
  border: 1px solid #202020;
  border-radius: 8px;
  width: 640px;
}
.filter input{
  width: 250px;
}

.rep-table td{
  padding: 4px;
}
.rep-table thead tr th:nth-child(3){
  min-width: 300px;
} 

.answer-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.answer-list h4{
  text-align: center;
  color: navy;
}
.qr-detail table #gruppa-matrix-head .matrix-th{
  width: 40px;
  word-wrap: none;
}
.qr-detail table #gruppa-matrix .err{
  background-color: darkred;
  color: white;
  text-align: center;
}

.qr-detail table #gruppa-matrix .ok{
  background-color: green;
  color: white;
  text-align: center;
}
#gruppa-matrix .result-prc{
  text-align: center;
  font-weight: 700;
}
#gruppa-matrix tr td:nth-child(1){
  text-align: left;
}

.fio-stud{
  width: 250px;
}

.add-quiz{
  margin-top: 10px;
  text-align: center;
}
.add-quiz label{
  width: 110px;
  margin: 8px 0;
}
.add-quiz input[type='text']{
    width: 250px;
}

.add-quiz input[type='submit']{
  margin-left: 200px;
}
.add-quiz-form{
  margin-top: 8px;
}
.hidden-form{
  display: none;
}